@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$main-purple: #7F23F7;

* {
    font-family: 'Red Hat Text', sans-serif;
    color: #232426;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    height: 100vh;
}

.flex-justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.divisor-y {
    width: 1px;
    background-color: #E6E6E6;
    height: 50%;
}

.divisor-x {
    width: 100%;
    background-color: #E6E6E6;
    height: 1px;
}

.header {
    height: 10%;
    gap: 20px;
    width: 100%;
}

.text-input {
    font-weight: 500;
    margin: 10px;
    gap: 10px;
}

.input-text-main {
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: 500;
    background-color: #E8E8E8;
    border-color: #e1e1e1;
    gap: 10px;
    padding-left: 10px
}

.input-default:focus {
    outline: none;
    background-color: rgb(240, 240, 240);
    border-color: #d0d0d0;
}

.input-default {
    border: 0;
    background-color: #E8E8E8;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 10px;
}

.button {
    color: #FFFFFF;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    margin: 10px;
    border-color: #e1e1e1;
    gap: 10px;
    background-color: $main-purple;
    user-select: none;
}

.button:active {
    background-color: #b074ff;
    transition: ease 0.1s;
}

.list-customers {
    width: 90%;
}

.table-container {
    width: 90%;
    display: block;
    max-width: 90%;
    overflow: auto;
}

.table {
    width: 100%;
    border: 1px solid;
    border-color: #E6E6E6;
    border-radius: 5px;
}

.table-th {
    border-bottom: 1px solid;
    border-color: #E6E6E6;
    text-align: left;
}

.table-column-row {
    background-color: #FFFFFF;
}

.modal-background{
  background-color: #191919a3;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-container{
  background-color: #FFFFFF;
  border-radius: 5px;
}

.modal-header{
  font-weight: 500 ;
}

.error {
  text-align: center;
  margin: 40px 50px 50px 50px;
  max-width: 300px;
}
